alert("this works");
/*$("#reply_message").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
//$("#reviews_count").html("<%= pluralize(@review.product.reviews.count, 'Review') %>");
$("#reviews").append("<%= escape_javascript(render(:partial => @review)) %>");
$("#reply_message")[0].reset();*/