<script type="text/javascript">
	$(document).ready(function() {
		$('#listing_id option[value = -9]').each(function(){
			$(this).attr('disabled', 'disabled');
		});
	});
</script>

<div class="rounded-need shadow">
	<a type="button" class="close" aria-hidden="true">×</a>
    <div>
        <span id="selectNeed">Select a Need or <a href="/new_listing?type=need" class="CreateListing">Create</a> a new one.
        </span>
    </div>
    <div>
            <%= select_tag :listing_id, options_for_select(dropdownItems), { :class => 'selectNeedListing span'} %>
    </div>
</div>
