$('#new_link').before("<li><a href='#offer1' data-toggle='tab'>NEW</li>");

!= "$('#userExchItems').append('<div class='tab-pane active' id='offer1'><%= render :partial => 'shared/offer_listing', :locals => {:targ_listing => @targ_listing, :user => @user, :f => f} %></div>');"