<html>
  <head>
  </head>
  <body >
    <div style='border: 10px solid #7ac943;border-radius: 15px;padding:25px;' >
    <img src='<%= $domain %>/assets/kirpeep.png' style='height:50px;width:125px;'  />
    <hr style='color: #ff931e;' />
    <h2>An exchange hase been accepted!</h2>
    <p>
      
    </p>
    <p>
     Thanks,<br />
     Kirpeep.com
   </p>
  </body>
</html>
