<html>
  <head>
  </head>
  <body >
    <div style='border: 10px solid #7ac943;border-radius: 15px;padding:25px;' >
    <img src='<%= $domain %>/assets/kirpeep.png' style='height:50px;width:125px;'  />
    <hr style='color: #ff931e;' />
    <h2>Welcome to Kirpeep.com!</h2>
    <p>
      Welcome to Kirpeep! We would like to verify your email address to activate your recently created account. Once activated, the 
      fastest way to start making awesome exchanges is to create your profile and make some listings.  Please verify your account by 
      clicking the link below:
    </p>
    <a href='<%= @url %>'><%= @url %></a>
    <p>
      Thank you for helping us maintain the security of your account. Enjoy being a heallthy, active user!
    </p>
    <p>
      Happy Kirpeeping! 
    </p>
    <p>
     The Kirpeep Team
   </p>
  </body>
</html>
