<html>
  <head>
  </head>
  <body >
    <div style='border: 10px solid #7ac943;border-radius: 15px;padding:25px;' >
    <img src='<%= $domain %>/assets/kirpeep.png' style='height:50px;width:125px;'  />
    <hr style='color: #ff931e;' />
    <h2>Welcome to Kirpeep.com!</h2>
    <p>
      We would like to verify your email address to activate your recently created account.  Please verify your account by 
      clicking the linke below:
    </p>
    <a href='<%= @url %>'><%= @url %></a>
    <p>
      Thank you for helping us maintain the security of your account. Enjoy being a heallthy, active user!
    </p>
    <p>
      Have a great day,
    </p>
    <p>
     Kirpeep.com
   </p>
  </body>
</html>
