<html>
  <head>
  </head>
  <body >
    <div style='border: 10px solid #7ac943;border-radius: 15px;padding:25px;' >
    <img src='<%= $domain %>/assets/kirpeep.png' style='height:50px;width:125px;'  />
    <hr style='color: #ff931e;' />
    <h2>Hello from Kirpeep.com!</h2>
    <p>
      It seems you've lost your password and that's a shame.  We're here to help.
      (If you did not make this request, you can safely ignore this email.  Your account is still safe!)
    </p>
    <p>
      If you need your password reset, please follow the link below to reset your password using our secure server:
    </p>
    <a href='<%= @url %>'><%= @url %></a>
    <p>
      if clicking the link above doesn't work, you can just copy and paste it into your browser's web address box
      ~ we advise you not typing it in as it's pretty long and complicated.
    </p>
    <p>
      Once you have returned to Kirpeep.com, we will give you instructions to reset your password.
    </p>
    <p>
      Thank you for using Kirpeep!
    </p>
    <p>
      p.s. Kirpeep will never email you asking you to disclose or verify your Kirpeep.com password, credit card, or any
      other sensitive, confidential information.  If you recieve a sneaky, suspicious email with a link to get you to update
      your information DO NOT click on the link..  Please report any emails or other suspicious activity to Kirpeep.com so we 
      may investigate
    </p>
    <p>
      Have a great day,
    </p>
    <p>
      Kirpeep.com
    </p>
    </div>
  </body>
</html>
