<div class="rounded-offer shadow">
    <a type="button" class="close" aria-hidden="true">×</a>
    <div style="">
        <%= image_tag listing.photo.url %>
    </div>
    <div style="">
        <span>
            <%= listing.title %> <br>
            <%= listing.description %>
        </span>
    </div> 
</div>