<div id="offerTemplate"class="rounded-offer shadow fade-in">
    <a type="button" class="close" aria-hidden="true">×</a>
    <div style="">
        <%= image_tag listing.photo.url %>
    </div>
    <div style="">
        <span>
            <div>
            <span class="listingTitle"><%= listing.title %></span> <br>
            
        </div>
        </span>
    </div> 
</div>