var listing_id = <%= @new_listing.id.to_s%>
$("body").append("<div class='notify'> Ditto Posted! <a class='dynamolink' href='/userlistings/"+listing_id+"/edit'>edit listing</a> <a href='/destroy_listing?id="+listing_id+"'>cancel</a></div>");
setTimeout(function(){ 
  $('.notify').fadeOut(); 
}, 3000);
