<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Report Sent!</h3>
</div>


<div class="modal-body">

       Thank you for letting us know.  We take inappropriate listings seriously!
</div>
<div class="modal-footer">
    <button class="btn pull right" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
