<h2>Reset Password</h2>

<br>

<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
<% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
<% end %>

<form method='POST' action='/resetpassword'>
    <label>New Password</label>
    <input type='text' id='password' name='password' />
    <br>
    <label>Confirm Password</label>
    <input type='text' id='confirm' name='confirm' />
    <input type='hidden' id='id' name='id' value='<%= @user.id %>'  />
    <br>
    <input type='submit' class='btn' value='Save Password' />
</form>
