<

<div class='row' id="footer">	
	<div style='text-align:center; display:none'>
		Can’t find what you’re looking for? Try <span class="orange-mid">advanced search</span>, <span class="blue-mid">browse</span>, or <span class="green-mid">add your own listing</span>!
	</div>
	<div><hr /></div>
	<div class="row">
	  <div class='span4 pull-left' style='padding-left:5px !important;'>&copy; 2012-2013 Kirpeep, Inc.</div>
	  <div class='span4 pull-right' style='text-align:right;margin-right:5px;'><a href='/how'>How It Works</a> | <a href='/tos'>Terms of Use</a> | <a href='/privacy'>Privacy</a> | <a href='/about'>About Us</a> | <a href='/faq'>FAQ</a></div>
	</div>
</div>

<!-- Dynamobox Modal -->
<div class="modal fade hide" id="dynamobox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
