<div class='row' id="footer">	
	<div style='text-align:center;'>
		Can’t find what you’re looking for? Try <span class="orange-mid">advanced search</span>, <span class="blue-mid">browse</span>, or <span class="green-mid">add your own listing</span>!
	</div>
	<div><hr /></div>
	<div class="row">
	  <div class='span4'>about |   how it works  | faqs</div>
	  <div class='span4 align-center'>© 2012 Kirpeep, Inc.</div>
	  <div class='span4 align-right'>contact  |   terms of use  | privacy</div>
	</div>
</div>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
