<div class='container'>
	<div class='row align-center'>
		<%= image_tag 'ee.png' %><br>
		<span id="marquee">Which one do you value more</span><br>
	</div><!--.row .align-center-->
	<div id="listingsmash">
		<%= render 'listings' %>
	</div>
</div><!--.container-->
<script type="text/javascript">
	$(document).ready(function(){
		$('.vote').live('click', function(){
			var new_listings;
			$.get("/listingsmash/newlistings/", function(data){
				newlistings = data;
			});
			var url = $(this).attr('href');
			var pattern =/(\d+)/g;
			var listings = url.match(pattern);
			var percent;
			$.get('/listingsmash/'+listings[0]+'/vs/'+listings[1], function(data){
				percent = data;
			});
			$('#listingsmash').fadeOut();
			$('#listingsmash').html(""+percent+"% of people made the same choice</span>");
			$('#listingsmash').fadeIn();
			setTimeout(function(){
				$('#listingsmash').fadeOut();
			},3000);
			$('#listingsmash').html(new_listings);
			$('#listingsmash').fadeIn();
		});
	});
	
</script>