<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<title>Kirpeep | About Us</title>

<%= stylesheet_link_tag    "profile.css" %>

<body>

	<div class='container'>
	  
		<%= render 'shared/header' %>

		<div><hr/></div>

  		<div id='main-content' class='row'>

	  	<strong>About Kirpeep</strong>

	  	<p><br>	When we first started this project each member of the team made a promise to the other members that we’d always 		KEEP IT REAL, and thus Kirpeep was born! Short for “Keep it Real, People” we always strive to keep it real among 			ourselves, and with YOU.<br> 

			<br>Kirpeep is the Real way for you to exchange goods and services online, with or without money.<br>

			<br>The internet is awesome! If you’re reading this, you already know that.  So if you’re like us, you want to see it used for the greater good. <br>

			<br>We came up with the idea for Kirpeep and how it will empower the world, one community at a time. It’s our humble goal to see it leveraged to empower the people and improve the quality of life for everyone. SO...  why not create a tool help improve the quality of life for the people? Why not indeed. So that’s our goal. <br>

			<br>This is how it is: <br>

			<br>Sappy as it may sound, we at Kirpeep believe that EVERYONE has something valuable other than what’s in their bank 	account to offer the world. You should have the freedom to do what you have to do, the way you want to do it. And call	us crazy, but we believe that what you have to offer should be enough to get what you need.  It’s all about you, keepin’ it real! <br>

			<br>So, we sought out to provide a space for just that.  Kirpeep.  The Real way to Buy, Sell, and Trade online.<br> 

			<br>We all have something valuable to offer!<br> 

			<br>Sign Up and Buy. Sell. Trade. IT’S FREE! </p>

	</div>

	<%# show the footer %>
	<%= render 'shared/footer' %>
  
</body>

  
