<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<title>Kirpeep | FAQs</title>

<%= stylesheet_link_tag    "profile.css" %>

<body>

	<div class='container'>
	  
		<%= render 'shared/header' %>

		<div><hr/></div>

  		<div id='main-content' class='row'>

	  	<strong>Kirpeep FAQs</strong>	  	
		Coming soon.
	</div>

	<%# show the footer %>
	<%= render 'shared/footer' %>
  
</body>

