<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

<title>Kirpeep | FAQs</title>

<%= stylesheet_link_tag    "profile.css" %>

<body>

	<div class='container'>
	  
		<%= render 'shared/header' %>

		<div><hr/></div>

  		<div id='main-content' class='row'>

	  	<strong>Kirpeep FAQs</strong>	  <br>	
		Coming soon... <br>
		Please feel free to contact us at <a href="mailto:info@kirpeep.com"> info@kirpeep.com</a>
	</div>

	<%# show the footer %>
	<%= render 'shared/footer' %>
  
</body>

