<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../../assets/stylesheets/results.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="Base">
  <div id="header">
	<div id="header-left"><p><img src="../../assets/images/kirpeep_head.png" width="239" height="63" /></p></div>
	<div id="header-center"><input name="Search" type="text" value="Search" />
    <input name="Submit" type="button" value="Go" /></div>
    <div id="header-right"><span>jimKstrings</span><br/> my offers/needs | my exchanges</div>
  </div>
  <div style="width: 100%"><hr/><div>
  <div id="central-col">
  	<div>search results for "music tutor"</div>
    <div id="cssdd">
    	<ul>
        	<li>Sort By
            	<ul>
                	<li>rating</li>
                    <li>price</li>
                    <li>reviews</li>
                    <li>value type</li>
                    <li>time frame</li>
                    <li># exchanges</li>
                </ul>
        	</li>
            <li>view only 
            	<ul>
                	<li><a href="#">offers</a></li>
                    <li>needs</li>
                    <li>all</li>
                </ul>
        	</li>
            <li>distance
            	<ul>
                	<li>1 mile</li>
                    <li>3 miles</li>
                    <li>5 miles</li>
                    <li>10 miles</li>
                    <li>25 miles</li>
                    <li>50 miles</li>
                </ul>
        	</li>
        </ul>
    </div>
    <div id="rounded">STUFF</div>
  </div>
  </div>
</body>
</html>
