
function LoadNeeds(data)
{
    var source = $('#profileNeedsTemplate').html();
    var template = Handlebars.compile(source);
    var html = template(data);
    $('#needsContainer').html(html);
}

$(document).ready(function(){
  //Get Needs
  //$.ajax({
  //  url: '/user_needs.json',
  //  dataType: 'JSON'
  //}).success(function(data){
  //   LoadNeeds(data);
  //});

  
  if (userID){
    $('#messages').load('/messages/'+userID);
  }
  
  $('.linkable').live('click', function(event){
    var href = ($(this).data('url'));
    window.location = href;
    return true; 
    event.preventDefault();
  });

  $('#loc').mouseover(function(){
    $('#loc').css('background-color','green');
    $('#edit').css('display', 'inline');
  });

  $('#loc').mouseout(function(){
    $('#loc').css('background-color','transparent');
    $('#edit').css('display', 'none');
  });
    
  $('#edit').click(function(){
  //enter edit information here	
  });

  $('.best_in_place').best_in_place();
  
  $('.chat').click(function(e){
    if($(this).attr('href').indexOf("available") > 0) 
      $('#chat_status').html("<span style='color: #0F0;'>&bull;</span>Available</a>");
    else if($(this).attr('href').indexOf("away") > 0) 
      $('#chat_status').html("<span style='color: #FA0;'>&bull;</span> Away</a>");
    else
      $('#chat_status').html("<span style='color: #F00;'>&bull;</span> Busy</a>");
	  
  });

  //$('.reply_message').submitWithAjax();

  //Unread Messages
  $('.unread').live("click", function(event){
    if(console) console.log("Marking as read");
    var o = $(this);
    var messageId = o.data('message');
    var user = o.data('user');
    path = "/mark_read?id="+messageId+"&user="+user;
    
    $.ajax({
      url: path,
      dataType: 'JSON'
    }).success(function(data){
        if(console) console.log(data);
        o.removeClass('unread');
    });
  });

  $('#exchContainer').insertERBTemplateAjax("over");
  $('#transContainer').insertERBTemplateAjax("over");
});
