<script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                    url: "/users/{{id}}/needs", 
                    dataType: "JSON"
                }).success(function(data){
                    for(var item in data){
                        $('#exchOffers').append('<option value='+data[item].id+'>' + data[item].title + '</option>')
                    }

            });
        });
</script>

<div class="rounded-offer shadow">
    <a type="button" class="close" aria-hidden="true">×</a>
    <div>
        <span id="selectOffer">Select a Offer or 
            <a href="/new_listing?type=offer" class="CreateListing">Create</a> a new one.
        </span>
    </div>
    <div>
        <span>
            <select class="selectListing" id="exchOffers" style="width:150px">
                <option value="-1">Select a Listing</option>
            </select>
        </span>
        <%# offers_array = @user.offers.all.map { |offer| [offer.title, offer.id] } %> 
        <%#= select_tag :listing_id, options_for_select(offers_array) %>
    </div>
</div>