<script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                    url: "/users/{{id}}/offers", 
                    dataType: "JSON"
                }).success(function(data){
                	for(var item in data){
                		$('#exchNeeds').append('<option value='+data[item].id+'>' + data[item].title + '</option>')
                	}

            });
        });
</script>

                	<div class="rounded-need shadow">
	<a type="button" class="close" aria-hidden="true">×</a>
    <div>
        <span id="selectNeed">Select a Need or <a href="/new_listing?type=need" class="CreateListing">Create</a> a new one.
        </span>
    </div>
    <div>
    	<span>
           <select id="exchNeeds" style="width:150px"></select>
    	</span>
        <%# needs_array = @user.needs.all.map { |need| [need.title, need.id] } %> 
        <%#= select_tag :listing_id, options_for_select(needs_array) %>
    </div>
</div>