<div class="rounded-offer shadow">
    <a type="button" class="close" aria-hidden="true">×</a>
    <div style="">
        <img src="{{photo_file_name}}" width="50px" height="50px" >
    </div>
    <div style="">
        <span>
        {{title}} <br>
        {{description}}
        <input type="hidden" name="user_listing_id" value={{id}}>
        <input type="hidden" name="targ_user_id" value={{id}}>
        </span>
    </div> 
</div>