@import url(bootstrap.min.css);
@charset "utf-8";
table.search { border:hidden; background:#59C3D7; color:#FFF} 
div.search { border: 3px solid; 
			 border-color:#7EC247; 
			 background-color:#59C3D7; 
			 color:#FFF; 
			 margin-bottom: 30px;
			 margin-top: 30px; 
}
div#signup {  border: 3px dashed; 
			  border-color:#7EC247; 
			  background-color:#FFF; 
			  color:#7EC247; 
			  margin-bottom: 10px;
}
span#signup { background-color:#FFF; 
}
				

.align-center { 
		 text-align:center;
		 float:none;
}

.align-right { 
		 text-align:right;
		 float:none;}
		 
#ee {
	display: inline-block; 
	vertial-align:top;
}

.logo{
	display: inline-block; vertical-align:top;
}



