<html>
<head>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#listings").insertERBTemplateAjax();
		});e
	</script>
</head>	
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Share With Your Peeps</h3>
</div>
<%= form_for @user, :review do |f|%>
<div class="modal-body">

	<%= select_tag 'exchanges' %>
	<div class="row-fluid hide" id='new_review'>

		<%#= f.label :exchange %>
	    <%#= f.text_field :quickPitch %>
	  	<%= f.label :review %>
	    <%= f.text_field :review %>

	</div>
</div>
<div class="modal-footer">

</div>
<%end%>
</html>
